.hello-webpack-button {
  cursor: pointer;
  font-size: 16px;
  color: #333;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px #333 solid;
  text-transform: uppercase;

  transition: 0.3s all;
}

.hello-webpack-button:hover {
  color: #fff;
  background-color: #333;
}

.hello-webpack-button:focus {
  outline: none;
  box-shadow: transparent;
}

.hello-webpack-p {
  font-size: 20px;
  color: #333;
}
